.btn-ghost {
  color: brown;
  text-decoration: none !important;
  border: 2px solid white;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;

}

.btn-ghost a {
  color: brown;

}
