.list {
  width: 500px;
  text-decoration: none;
  list-style: none;
  background-color: brown;
  border: 2px white solid;
  margin-left: 0px;
  text-align: center;
  padding: 20px;

}

.list a {
  color: white;
  font-weight:bold;
}

.list p {
  margin-bottom: 2px;
}
